<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <h4>Oceania</h4>
  </head>
    <body background = "https://cdn.allwallpaper.in/wallpapers/706x400/14066/minimalistic-flying-paper-plane-706x400-wallpaper.jpg">
      <p>Most popular destinations in Oceania include: 
        <br>
        <br>
        <style>
<!-- div.polaroid {
  width: 1418px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://cdn.theculturetrip.com/wp-content/uploads/2014/12/shutterstock_317836976-otago-peninsula-dunedin-new-zealand.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Dunedin, New Zealand</p>
  </div>
</div>
        <br>
        <style>
<!-- div.polaroid {
  width: 1418px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="https://static1.squarespace.com/static/50dcf037e4b00220dc759537/58d8f482893fc05195a40521/58db799fd2b857b1bbc045eb/1499568809299/IMG_8048.jpg?format=1000w" alt="Norway" style="width:100%">
  <div class="container">
    <p>Milford Sound, New Zealand</p>
  </div>
</div>        
      <br>
       <style>
<!-- div.polaroid {
  width: 1418px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  box-align: center;
}

div.container {
  padding: 10px;
}
</style>
        <div class="polaroid">
  <img src="http://www.turtleairways.com/wp-content/uploads/2014/03/romantic-getaway-in-fiji.jpg" alt="Norway" style="width:100%">
  <div class="container">
    <p>Nadi, Fiji</p>
  </div>
</div>
        <br>
  <p>There are 14 countries in Oceania, Australia being the largest. 73% of people in Oceania are Christian. The most popular sport is rugby.
</p>
  <p>There is a lot of interesting wildlife in Oceania such as marsupials and birds. Here you can find lots of mountains and indigenous rock art.  Oceania is also home to the Great Barrier Reef, Sydney Opera House, and the outback. There are also interesting glaciers and geysers found in New Zealand.</p>
      <h5>Some characteristics of Oceania are:
        <ul>
          <li>Moderately Populated</li>
        <li>Warm Climate</li>
        <li>Exotic Wildlife</li>
          <li>Beautiful Landforms</li>
        </ul>
      </h5>
  </body>
</html>